<?xml version="1.0"?>
<launch>

  <arg name="namespace" default="senio_hardware" />

  <!-- load robot -->
  <include filename="$(find senio_description)/launch/robot.launch" />

  <!-- load control config -->
  <rosparam file="$(find senio_hardware)/config/control.yaml" command="load" ns="$(arg namespace)" />

  <!-- start hw interface -->
  <node name="$(arg namespace)" pkg="senio_hardware" type="senio_hardware_node" output="screen" />

</launch>
