<launch>

  <arg name="namespace" default="senio_hardware" />

  <rosparam file="$(find senio_hardware)/config/senio.yaml" command="load" ns="$(arg namespace)" />

  <rosparam file="$(find senio_hardware)/config/controllers.yaml" command="load" ns="$(arg namespace)" />

  <node name="$(arg namespace)" pkg="senio_hardware" type="senio_hardware_node" output="screen" />

  <!-- load the controllers -->
  <node name="position_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="$(arg namespace)" args="controller/joint_position_controller"/>

  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="$(arg namespace)" args="controller/joint_state_controller" />

</launch>
